.status {
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
}


.status-confirmado {
    background: #E3FCEF;
    color: #006644;
}

.status-pendiente {
    background: #FFF8E6;
    color: #FF991F;
}

.status-desvinculado {
    background: #FFEBE6;
    color: #DE3618;
}