body {
    overflow: hidden;
    width: 100vw;
}

/* .table-responsive table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
} */

th:first-child,
td:first-child {
    font-size: 12px; /* Smaller text */
    text-align: center;
}

th, td {
    padding: 4px 6px; /* Slightly tighter */
}

.table th, .table td {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 1.5rem !important;  /* Force vertical spacing */
    padding-bottom: 1.5rem !important;
  }
  